@use '@carbon/react/scss/themes';
@use '@carbon/react/scss/theme';
@use '@carbon/react/scss/components/button/tokens' as button-tokens;
@use '@carbon/themes/scss/utilities';
@use '@carbon/react';
@use '@carbon/layout';
@use '@carbon/react/scss/components/button';

$button-token-overrides: (
  icon-primary: #0C646A,
  interactive: #0C646A,
  interactive-01: #f8b204,
  support-03: #feaf02,
  // Button Primary
  button-primary: #f9b104,
  button-primary-active: #f9b104,
  button-primary-hover: #f9b104,
  // Button Secondary
  button-secondary: #00607b,
  button-secondary-active: #00607b,
  button-secondary-hover: #00607b,
  // Button Tertiary
  button-tertiary: #f9b104,
  button-tertiary-active: #f9b104,
  button-tertiary-hover: #f9b104,
  grid-margin: 16px,
  grid-gutter: 0
);
$button-tokens: utilities.merge(
  button-tokens.$button-tokens,
  $button-token-overrides
);

@include theme.add-component-tokens($button-tokens);

@import '@carbon/colors';

:root {
  @include theme.theme();
}


$base-bg-color: #0C646A;

p {
    margin: layout.$spacing-05 0;
}

.main-container {
    position: relative;
    background-color: $base-bg-color;
    min-height: 1200px;
    // background: url("/images/seitenansicht-freigestellt-1.svg") $base-bg-color;
    background-blend-mode: multiply;
    background-position: 0 400px;
    background-repeat: no-repeat;
}

.spacing-06 {
    height: layout.$spacing-06;
}

.spacing-header {
    display: flex;
    flex-direction: row;
    height: 79px;
    align-items: center;
    justify-content: flex-end;
    background: white;
    button {
        margin-right: layout.$spacing-06;
    }
}

.spacing-12 {
    height: layout.$spacing-12;
}

.header-logo {
    position: absolute;
    top: 0;
    left: 0;
}

.form-wrapper {
    margin: 0 auto;
    margin-bottom: layout.$spacing-12;
    background-color: $white-0;
    width: 920px;
}

.form {
    .cds--text-input-wrapper {
        margin: layout.$spacing-03;
    }

    .form-header {
        background-color: $base-bg-color;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        padding-bottom: layout.$spacing-05;
    }
    .form-header-1 {
        line-height: 40px;
        font-size: 32px;
        color: $white-0;
    }
    .form-header-2 {
        line-height: 24px;
        font-size: 16px;
        color: $yellow-30;
    }
    .form-inline-header {
        font-size: 20px;
        margin: layout.$spacing-05 0;
    }

    .form-progress-indicator {
        padding: layout.$spacing-05 0;
    }
    .form-tiles-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 layout.$spacing-07;
    }
    .form-tile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 274px;
        .account-manager-icon {
            width: 45px;
        }
        .legal-entity-icon {
            width: 35px;
        }
        .technical-manager-icon {
            width: 45px;
        }
    }

    .terrain-category {
        @include theme.theme(themes.$g10);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 428px;
        height: 140px;
        color: white;
        font-weight: bold !important;
        margin-bottom: 1.2rem;
        p {
            font-size: 12px;
            text-align: center;
            margin-top: layout.$spacing-02;
            margin-bottom: 0;
        }
        .cds--radio-button__appearance {
            border: 1px solid white;
            border-color: white !important;
            background-color: white;
        }
    }
    .terrain-category-1 {
        background-image: url("/images/large-green-landscape-covered-grass-surrounded-by-trees-1.png");
    }
    .terrain-category-2 {
        background-image: url("/images/large-green-landscape-covered-grass-surrounded-by-trees-1-3.png");
    }
    .terrain-category-2-3 {
        background-image: url("/images/large-green-landscape-covered-grass-surrounded-by-trees-1-1.png");
    }
    .terrain-category-3 {
        background-image: url("/images/large-green-landscape-covered-grass-surrounded-by-trees-1-4.png");
    }
    .terrain-category-4 {
        background-image: url("/images/large-green-landscape-covered-grass-surrounded-by-trees-1-2.png");
    }
}

.form-action-button {
    margin-top: layout.$spacing-07;
    width: 50%;
    max-width: none;
    &.start {
        width: 100%;
    }
}
.form-action-button-submit {
    margin-top: layout.$spacing-07;
    width: 100%;
    max-width: none;
    justify-content: center;
}
